.preview-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}
.preview-image {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}
.preview-image img {
    max-width: 100px;
    height: auto;
    margin-bottom: 5px;
}
.delete-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    color: red;
    font-size: 18px;
    cursor: pointer;
}
.upload-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.upload-label i {
    margin-right: 5px;
}
.upload-label:hover {
    background-color: #0056b3;
}
#exampleFormControlFile1 {
    display: none;
}

/* Styles for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    
}

.modal-content {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    
}

.modal-content img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
   
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}